{% extends "foursq_auth/base.html" %}
    <!-- login.html is the first main page that a user will see -->
    {% block content %}
    <p> Hi {{ name }}, you've successfully logged in! </p>
 	<div>
 		<form action="javascript:calcRoute();">
 			<b>Start: </b><input id="start" type="text" label="Start">
 			<b>End: </b><input id="end" type="text" label="Finish">
 			<input type="submit" value="Submit">
 		</form>
    
    </div>
    <div id="map_canvas"></div>
    <div id="venues_list"></div>
    <p><a href="../logout/">Logout</a></p>
    {% endblock %}