{% extends "foursq_auth/base.html" %}
    <!-- login.html is the first main page that a user will see -->
    {% block content %}

    <p>Logged in to Foursquare as {{ name }}.</p>
    <div class="row">
	 	<div class="span12">
	 		<form action="javascript:calcRoute();">
	 			<label>Start: </label><input id="start" type="text" label="Start">
	 			<label>End: </label><input id="end" type="text" label="Finish">
	 			<input type="submit" value="Submit" class="btn">
	 		</form>
	    
	    </div>
	</div>
	<div class="row">
		<div class="span6">
		    <div id="map_canvas"></div>
		</div>
		<div class="span6">
		    <table id="venues_list" class="table table-hover">
		    <thead>
			    <tr>
			      <th>Category</th>
			      <th>Venue</th>
			    </tr>
			  </thead>
			  <tbody id="venues_rows">
			  </tbody>
			</table>
		</div>
	</div>
    <p><a href="../logout/">Logout</a></p>
    {% endblock %}